---
---

@import "{{ site.theme }}";

#downloads {
  background-image: none;
  width: auto;
  text-align: center
}

.nav-link,
.nav-link-active {
  display: block;
  float: right;
  width: 75px;
  height: 40px;
  overflow: hidden;
  background-color: lightgray;
  margin-left: 10px;
}

@media screen and (max-width: 480px) {
  display: block;
  float: left;
}

.nav-link:hover,
.nav-link-active {
  background-color: gray;
}
