---
---

@import "{{ site.theme }}";

#downloads { background-image: none; }

.nav-link {
  display: block;
  float: right;
  width: 90px;
  height:70px;
  overflow: hidden;
  background: url(../images/sprite_download.png) no-repeat bottom right;
  margin-left: 10px;
}

.nav-link:hover {
  background: url(../images/sprite_download.png) no-repeat top left;
}
