---
---
@import "rouge-github";
@import "{{ site.theme }}";

.inner {
  max-width: 800px;
}

pre.higlight {
  padding: 0px;
}
#rouge-table {
  width: 100%;
  margin-bottom: 2px;
  font-size: 0.75em;
  box-shadow: none;
}

#header_wrap { background: none; }
#header_wrap:after {
  content: "";
  background: url("/background.png") no-repeat center;
  position: absolute; top: 0px; left: 0px; right: 0px;
  z-index: -1;
  height: 210px;
  opacity: 0.2;
}

#downloads {
  background-image: none;
  width: auto;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  line-height: 60px;
}

@media screen and (max-width: 480px)  {
  #downloads {
    display: block;
    float: left;
  }
}

.nav-link,
.nav-link-active {
  display: block;
  float: right;
  width: 75px;
  height: 40px;
  overflow: hidden;
  background-color: lightgray;
  margin-left: 10px;
}

.nav-link:hover,
.nav-link-active {
  background-color: gray;
}
